*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 33%;
    width: 30%;
    border: 5px;
    border-radius:40%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    padding: 0 23px;
}
.nav-list{
width: 50%;
/*color: white;*/
display: flex;
justify-content: center;
align-items: center;
}
.nav-list li{
     list-style: none;
     padding: 5px 8px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
        text-decoration: none;
        color: yellow;
}
        
    .rightNav{
/*background-color: blueviolet;*/
width: 50%;
text-align: right;
}
#search{
    padding: 3px;
    font-size: 17px;
    border: 5px;
    border-radius: 7px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode:darken;
}
.home{
    height: 100vh;
}
.head{
    text-align: center;  
}
.head>h1{
    font-size: 70px;
    padding: 0px;
    color:rgb(12, 219, 234);
    
}
.head>span{
    font-size: 25px;
    font-style: italic;
    padding: 0.5px;
    color: rgb(12, 219, 234);
    
}
.box-main{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    max-width: 50%;
    margin: auto;
}

.firsthalf>ul>li{
    padding: 5px;
    font-size:xx-large;
    width: 70vw;
}
.secondhalf>img{
height: 50vh;
padding: 1px 0;
border: 4px solid white;
border-radius: 200px 200px;
display: block;
margin: auto;
}
.btn-sm{
    border: 4px;
    border-radius: 8px;
    padding: 6px 10px;
    vertical-align: middle;
}



.firstpage{
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode:darken;
    height: 100vh;
}
.firstpage{
    font-size: xx-large;
    display: block;
    
}
.box-main2{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    margin: auto;
}
.firstHalf{
    width: 60vw;
}
.sectionTag{
    font-size: 70px;
    padding-top: 100px;
    color: yellow;
}
.sectionSubTag{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    text-align:left;
    width: 100%;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;   
}
.secondHalf{
    padding-top: 190px;
    justify-content: right;
    align-items: right;
}
.secondHalf>img{
    height: 50vh;
    padding: 1px 0;
    border: 4px solid white;
    border-radius: 150px 0px;
    justify-content: center;
    
    }


    .secondpage{
        background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
        background-size: cover;
        background-blend-mode:darken;
        height: 100vh;
    }
    .box-main3{
        display: flex;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: serif;
        margin: auto;
        padding-top: 80px;
    } 
    .Firstquarter{
        padding-top:100px;
        padding-left: 20px;
        justify-content: left;
        align-items: left;
       }      
    .Sectiontag{
        font-size: 70px;
        padding-top: 8px;
        padding-left: 10px;
        color: yellow;
    }   
    .Firstquarter>img{
        height: 30vh;
        padding: 0px 0px;
        border: 3px solid white;
        border-radius: 10px 10px;
        justify-content: center;
    }
    .Secondquarter{
        padding-top: 170px;
        justify-content: center;
        align-items: center;
       }      
    .Secondquarter>img{
        height: 30vh;
        padding: 0px 0px;
        border: 3px solid white;
        border-radius: 10px 10px;
        justify-content: center;
    }
    .thirdpage{
        background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
        background-size: cover;
        background-blend-mode:darken;
        height: 100vh;
    }
    .box-main4{
        justify-content: center;
        align-content: center;
        color: white;
        font-family: serif;
        margin: auto;
        display: flex;
    }  
    .SectionTag{
        font-size: 70px;
        padding-top: 80px;
        padding-left: 70px;
        color: yellow;
        justify-content: center;
        align-items: center;
    }
    .Firsthalf{
        padding-top:180px;
        padding-right: 300px; 
        justify-content: left; 
        align-items: left;
    }
    .Firsthalf>img{
        height: 60vh;
        padding: 0px 0px;
        border: 3px solid white;
        border-radius: 10px 10px;
        justify-content: center;
    }
    .Secondhalf{
       
       padding-top: 180px;
       padding-right:400px;
        justify-content: center;
        align-items: center;
       }      
    .Secondhalf>img{
        height: 60vh;
        padding: 0px 0px;
        border: 3px solid white;
        border-radius: 10px 10px;
        justify-content: center;
    }