* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.logo {
    width: 30%;
    display: flex;
    padding-left: -10px;
    justify-content: left;
    align-items: left;
}

.logo img {
    height: 20vh;
    width: 10vw;
    border: 5px;
    border-radius: 40%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    padding: 0 23px;
    z-index: 3;
}

.nav-list {
    width: 70%;
    /*color: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px 8px;
}

.nav-list li a {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    text-decoration: none;
    color: yellow;
}

.rightNav {
    /*background-color: blueviolet;*/
    width: 30%;
    text-align: right;
}

#search {
    padding: 3px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 7px;
    background: none;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.Background {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.home {
  
}

.head {
    text-align: center;
}

.head>h1 {
    font-size: 70px;
    color: rgb(12, 219, 234);

}

.head>span {
    font-size: 25px;
    font-style: italic;
    padding: 0.5px;
    color: rgb(12, 219, 234);

}

.box-main {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    max-width: 50%;
    margin: auto;
}

.firsthalf>ul>li {
    padding: 5px;
    font-size: xx-large;
    width: 70vw;
}
.secondhalf>img {
    height: 70vh;
    width: 50vh;
    padding: 0px 0;
    border: 4px solid white;
    border-radius: 200px 200px;
    display: block;
    margin: auto;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
   
    color: white;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.btn-sm {
    border: 2px solid grey;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 16px;
    vertical-align: middle;
    background: none;
}

.btn-dark {
    width: 6vw;
    color: rgb(255, 255, 255);
    border: 2px solid grey;
    border-radius: 6px;
    background: none;
}
.btn-reg{
    color: rgb(255, 255, 255);
    border: 2px solid grey;
    background-color:blue;
    border-radius: 6px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.firstpage {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;
 
}

.firstpage {
    font-size: xx-large;
    display: block;

}

.box-main2 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    margin: auto;
}

.firstHalf {
    width: 60vw;
}

.sectionTag {
    font-size: 70px;
    padding: 80px 10px;
    color: yellow;
}

.sectionSubTag {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    text-align: left;
    width: 100%;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.secondHalf {
    padding-bottom: 50px ;
    justify-content: right;
    align-items: right;
}

.secondHalf>img {
    height: 50vh;
    padding: 1px 0;
    border: 4px solid white;
    border-radius: 150px 0px;
    justify-content: center;

}


.secondpage {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;
  
}

.box-main3 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    }

.Firstquarter {
    padding-top: 20px;
    padding-left: 20px;
    justify-content: left;
    align-items: left;
}

.Sectiontag {
    font-size: 70px;
    padding-top: 80px;
    padding-left: 10px;
    color: yellow;
}

.Firstquarter>img,.Secondquarter>img {
    height: 30vh;
    padding: 0px 0px;
    border: 3px solid white;
    border-radius: 10px 10px;
    justify-content: center;
    transition: ease 1s;
}

.box-main3>div>img:hover {
    height: 40vh;
}

.Secondquarter {
    padding-top: 60px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
.thirdpage {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main4 {
    justify-content: center;
    align-content: center;
    color: white;
    font-family: serif;
    display: flex;
}

.SectionTag {
    width: 10%;
    font-size: 70px;
    padding: 80px 10px;
    color: yellow;
    justify-content: center;
    align-items: center;
}

.Firsthalf {
    width: 45%;
    padding-left: 200px;
    padding-top: 11px;
    justify-content: center;
    align-items: center;
}

.Firsthalf>#front>img {
    height: 60vh;
    width: 25vw;
    border: 3px solid white;
    border-radius: 10px;
    justify-content: center;
    z-index: 2;
    transition: 1s;
}

.Firsthalf>#back {
    height: 0vh;
    width: 0vw;
    position: absolute;
    color: white;
    font-size: 0vh;
    border-radius: 10px;
    border: 3px solid white;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 1s;
}
.Secondhalf {
    width: 50%;
    padding-left: 200px;
    padding-top: 10px;
    justify-content:center ;
    align-items: right;
}

.Secondhalf>#front>img {
    height: 60vh;
    width: 20vw;
    padding: 0px 0px;
    border: 3px solid white;
    border-radius: 10px 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 1s;
}

.Secondhalf>#back {
    height: 0vh;
    width: 0vw;
    position: absolute;
    color: white;
    font-size: 0vh;
    border-radius: 10px;
    border: 3px solid white;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 1s;
}

.forthpage {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main5 {
    justify-content: left;
    align-content: center;
    color: white;
    font-family: serif;
    margin: auto;
    display: flex;
    padding-top: 10vh;
    overflow: hidden;
}

.SecTag {
    font-size: 70px;
    padding-top: 80px;
    padding-left: 10px;
    color: yellow;
    justify-content: center;
    align-items: center;
}

.secLeft {
    width: 50%;
    padding-top: 10px;
    padding-left: 100px;
    font-size: xx-large;
    font-family: serif;
}

.secRight {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    animation: move linear 1s infinite;
}

.secRight>img {
    height: 50vh;
}

@keyframes move {
    0% {
        transform: rotate(5deg);
        transform-origin: right
    }

    50% {
        transform: rotate(-5deg);
        transform-origin: right
    }

    100% {
        transform: rotate(5deg);
        transform-origin: right
    }
}

.contact {
    background: rgba(0, 0, 0, 0.7) url('Assets/camera4.jpg');
    background-size: cover;
    background-blend-mode: darken;
  
}

.text-advance {
    text-align: center;
    color: yellow;
    font-size: 70px;
    padding-top: 100px;
}

.form {
    max-width: 62%;
    margin: 25px auto;
}
.form-input {
    margin: 16px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.address{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picture{
    height: 10vh;
    display: flex;
    padding: 10px 44vw;
        
}
.picture>a>img{
    height: 10vh;
    margin-right: 10px;
}

@media only screen and (max-width: 1140px) {
    .logo{
        width: 30%;
        height: 30vh;
        align-items: center;
    }
    .logo>img{
        height: 10vh;
        width: 5vw;
    }
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        height: 800px;
        flex-direction: column;
        transition: all 0.7 ease-out;
    }

    .rightNav {
        text-align: center;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 68px;
    }

    .v-class-resp {
        opacity: 0;
    }
    .firstsection{
        flex-direction: column-reverse;
    }
    .firsthalf{
        text-align: left;
    }
    .secondhalf>img{
        height: 30vh ;
        width: 60vw;

    }
    .firstpage{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .box-main2{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .sectionSubTag{
        text-align: left;
        padding-bottom:20px ;
    }
    .secondHalf{
        align-items: center;
    }
    .secondHalf>img{
        height: 40vh;
        width: 50vw;
    }
    .secondpage{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .box-main3{
        width: 100%;
        height: 100vh;
        flex-direction: column-reverse;
        align-items: center;
    }
    .Sectiontag{
        text-align: center;    
    }
    .Firstquarter>img{
        width: 40vw;
        height: 40vh;
    }
    .Secondquarter>img{
        width: 40vw;
        height: 40vh;
    }
    .thirdpage{
        width: 100%;
     text-align: center;
    }
    .Firstquarter>img,.Secondquarter>img {
        height: 20vh;
    }
    .box-main4{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .SectionTag{
        text-align:left;
    }      
    
    .forthpage{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .box-main5{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .SecTag{
        text-align: left;
        justify-content: left;
        align-items: left;
    }
     .secLeft{
        text-align: left;
        align-items: left;
    }
    .secRight{
         align-items:right;
    }
    .secRight>img {
        height: 20vh;
    }
    .btn-dark{
        width: 50%;
    }
    .picture{
        align-items: center;
    }
}